@import "../../style/mixins";
@import "../../style/variables";

.CategoryListItem {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  @include display();
  max-width: 300px;
  .thumbnail {
    max-width: 150px;
  }

  .title {
    text-decoration: none;
    color: $third-color;
    font-weight: bold;
  }
  // .link {
  //   text-decoration: none;
  //   color: $third-color;
  //   font-weight: bold;
  //   cursor: pointer;
  //   &:visited {
  //     color: $third-color;
  //   }
  // }

  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}
