$primary-color: #fefae0;
$secondary-color: #aa5042;
$bg-color: #54242698;

//text
$third-color: #4f3130;

// gradient colors for buttons

// background: rgb(2,0,36);
// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,175,81,1) 0%, rgba(199,199,199,1) 100%);
