@import "../../style/mixins";
@import "../../style/variables";

.ErrorPage {
  // position: relative;
  // @include display(flex, column, center, center, nowrap);
  // width: 100vw;
  // height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.ErrorImg {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 3px #54242698;
}
