@import "../../style/mixins";
@import "../../style/variables";

.MealListItem {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  //   border: 2px solid red;
  position: relative;
  @include display();
  max-width: 300px;
  .thumbnail {
    // border: 2px solid blue;
    max-width: 150px;
    border-radius: 100%;
  }
  .title {
    text-decoration: none;
    color: $third-color;
    font-weight: bold;
  }
  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}
